# ===============================
# Node
# ===============================
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# ===============================
# Environnements
# ===============================
.env
.env.local
.env.*.local

# ===============================
# Google Cloud
# ===============================
gcp-service-account.json

# ===============================
# Vite / Frontend build
# ===============================
dist/
build/
.vite/
.vite/deps/

# ===============================
# IDE / OS
# ===============================
.vscode/
.vs/
.idea/
Thumbs.db
.DS_Store

# ===============================
# Divers
# ===============================
*.log
*.tmp
Démarrer.txt
